#sectionSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: center center no-repeat;
  background-image: url(../images/home-search.jpg);
  background-size: cover;
  height: 40vh;

  font-weight: bolder;
  font-size: 3em;

  border-radius: 10px;
}

.sectionTitle {
  color: white;
  text-shadow: rgb(10, 10, 9) 2px 0 5px;
  padding: 12px;
}
