body {
  margin: 0px;
}

#sectionSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: center center no-repeat;
  background-image: url(../images/home-search.jpg);
  background-size: cover;
  height: 40vh;
  width: 100%;

  font-weight: bolder;

  border-radius: 10px;
}

#sectionSearch .sectionTitle {
  color: white;
  text-shadow: rgb(10, 10, 9) 2px 0 5px;
  font-size: 48px;
}

.sectionTitle {
  padding: 12px 0px;
  font-size: 36px;
}

.section {
  width: 75vw;
  margin-bottom: 18px;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}

.notFound {
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound a {
  text-decoration: none;
  color: blue;
}

#searchResultPageContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 60vw;
  margin: 0 auto;
}
